<a href="https://colab.research.google.com/github/Nightlark1337/IST210Workshop/blob/master/GroupProject4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import sqlite3 # Once imported in a single notebook, it is available to us throughout the rest of the notebook. 
# connect to database, if not there, create it.
connectionToDatabase = sqlite3.connect('USEPAData') 

cursor = connectionToDatabase.cursor()
cursor.execute('''drop table IF EXISTS Shipments''')
connectionToDatabase.commit()

cursor.execute('''create table Shipments (shipmentID int PRIMARY KEY, employeeID int, itemsUsed text, expirationDates int, quantity int)''')
connectionToDatabase.commit()

cursor = connectionToDatabase.cursor()
cursor.execute('''drop table IF EXISTS Employees''')
connectionToDatabase.commit()

cursor.execute('''create table Employees (employeeID int PRIMARY KEY, firstName text, lastName text, phone int, streetAddress text, city text, state text, zipcode int, position text)''')
connectionToDatabase.commit()

cursor.execute('''drop table IF EXISTS Dishes''')
connectionToDatabase.commit()

cursor.execute('''create table Dishes (dishID int PRIMARY KEY, name String, price int, numberInStock int, numberSold int)''')
connectionToDatabase.commit()

cursor.execute('''drop table IF EXISTS Transactions''')
connectionToDatabase.commit()

cursor.execute('''create table Transactions (transactionID int PRIMARY KEY, dateTime text, customerID int, paymentType text, rewardDiscount real)''')
connectionToDatabase.commit()

cursor.execute('''drop table IF EXISTS Customers''')
connectionToDatabase.commit()

cursor.execute('''create table Customers (customerID int PRIMARY KEY, firstName int, lastName text, streetAddress text, city text, state text, zipcode int, phone int)''')
connectionToDatabase.commit()

cursor.execute('''drop table IF EXISTS RewardCard''')
connectionToDatabase.commit()

cursor.execute('''create table RewardCard (cardID int PRIMARY KEY, customerID int, totalPoints int)''')
connectionToDatabase.commit()

In [0]:
#Jonas Shipments
cursor.execute('''insert into Shipments values ('0001', '9846352156', 'beef patties', '12345' , '40');''')
connectionToDatabase.commit()
cursor.execute('''insert into Shipments values ('0002', '9842659854', 'lettuce', '12346' , '50');''')
connectionToDatabase.commit()
cursor.execute('''insert into Shipments values ('0003', '9846352156', 'buns', '12347' , '60');''')
connectionToDatabase.commit()
cursor.execute('''insert into Shipments values ('0004', '9846352156', 'fish', '12348' , '40');''')
connectionToDatabase.commit()
cursor.execute('''insert into Shipments values ('0005', '9842659854', 'sauces', '12349' , '25');''')
connectionToDatabase.commit()

In [0]:
#Akimoto Employees
cursor.execute('''insert into Employees values ('12345', 'Clinton', 'Barton', '9846352156', '365 Maple Street', 'Camp Hill', 'PA', '568211', 'Cashier' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Employees values ('12346', 'Jardani', 'Jovonovich', '9842659854', '264 Apple Street', 'Camp Hill', 'PA', '568211', 'Cook' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Employees values ('12347', 'Diana', 'Prince', '9846352152', '984 Oak Street', 'Camp Hill', 'PA', '568211',  'Manager' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Employees values ('12348', 'Bruce', 'Wayne', '9842653521', '448 Pine Street', 'Camp Hill', 'PA', '568211', 'Co-Owner' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Employees values ('12349', 'Wade', 'Wilson', '9846585321', '568 Locust Street', 'Camp Hill', 'PA', '568211', 'Co-Owner' );''')
connectionToDatabase.commit()

In [0]:
#Ryan Dishes
cursor.execute('''insert into Dishes values ('1', 'Cheese Burger', '7.00', '250', '1' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Dishes values ('2', 'Fish sandwich' , '8.00', '250', '1' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Dishes values ('3', 'Salad', '5.00', '150', '1' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Dishes values ('4', 'Grilled fish', '10.00', '50', '1' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Dishes values ('5', 'Fries', '4.00', '300', '1' );''')
connectionToDatabase.commit()

In [0]:
#Cameron Transactions
cursor.execute('''insert into Transactions values ('000001', '2019-10-05', '0001', 'credit', '5.00' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Transactions values ('000002', '2019-10-05', '0002', 'cash', '10.00' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Transactions values ('000003', '2019-10-05', '0003', 'debit', '5.00' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Transactions values ('000004', '2019-10-05', '0004', 'free', '15.00' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Transactions values ('000005', '2019-10-05', '0005', 'check', '10.00' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Transactions values ('000006', '2019-10-05', '0006', 'cash', '0.00' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Transactions values ('000007', '2019-10-05', '0007', 'free', '0.00' );''')
connectionToDatabase.commit()

In [0]:
#Jared Customers
cursor.execute('''insert into Customers values ('000001', 'John', 'Doe', '456 Pine Street', 'Camp Hill', 'PA', '568211', '7172869845' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Customers values ('000002', 'Sam', 'Hill', '829 Maple Avenue', 'Camp Hill', 'PA', '568211', '7170294381' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Customers values ('000003', 'Robert', 'Covington', '676 Oak Street', 'Camp Hill', 'PA', '568211', '7175231221' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Customers values ('000004', 'Sarah', 'West', '245 Main Street', 'Camp Hill', 'PA', '568211', '7176789981' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Customers values ('000005', 'Jane', 'Doe', '456 Pine Street', 'Camp Hill', 'PA', '568211', '7179256300' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Customers values ('000006', 'Anthony', 'Esposito', '121 Apple Street', 'Camp Hill', 'PA', '568211','6106628523' );''')
connectionToDatabase.commit()

In [0]:
#Jared RewardCard
cursor.execute('''insert into RewardCard values ('000001','000001', '10' );''')
connectionToDatabase.commit()
cursor.execute('''insert into RewardCard values ('000002', '000002', '5' );''')
connectionToDatabase.commit()
cursor.execute('''insert into RewardCard values ('000003','000003', '40' );''')
connectionToDatabase.commit()
cursor.execute('''insert into RewardCard values ('000004','000004', '5' );''')
connectionToDatabase.commit()
cursor.execute('''insert into RewardCard values ('000005','000005', '25' );''')
connectionToDatabase.commit()

![alt text](https://raw.githubusercontent.com/JonasJason/IST210Workshop/master/Restaurant_ERD.png)

Missing FK's for itemsUsed, price in transactions. add FK server to Customer table that takes employeeID and in transactions employeeID for who was performing the transaction.
under Dishes Employee ID needs to be an FK for who prepares the dish.

# **Questions:**
1. **What dishes are most and least popular?**

In [42]:
cursor.execute('''SELECT * FROM Dishes ORDER BY numberSold DESC;''')
for row in cursor.fetchall():
  print (row)

(1, 'Cheese Burger', 7, 250, 1)
(2, 'Fish sandwich', 8, 250, 1)
(3, 'Salad', 5, 150, 1)
(4, 'Grilled fish', 10, 50, 1)
(5, 'Fries', 4, 300, 1)

This question is important because it is crucial for the restaurant management to know what dishes are the most and least popular so that they can prepare by ordering the proper amoung of ingredients to make each dish, without having too little or extra waste. With this query we intended to obtain a list of all the dishes (identified by dishID) in order of most popular to least. 


2. **What is the average discount customers get by using the rewards card?**

In [43]:
cursor.execute('''SELECT AVG(rewardDiscount) from Transactions;''')
for row in cursor.fetchall():
  print (row)

(6.428571428571429,)

This question is important to the restaurant because management needs to know whether or not their rewards program is actually effective. The ownership wants to make sure that people who are consistently using their rewards cards are getting the discounts and benefits that they earned and deserve, but, also to make sure that they are not losing any money with the program. With this query we intened to obtain the average discount that customers receive by using their rewards card.  


3. **What portion of employees have purchased dishes?**

In [44]:
cursor.execute('''SELECT COUNT(employeeID) FROM Employees, Transactions WHERE paymentType = 'free';''')
for row in cursor.fetchall():
  print (row)

(10,)

This question is important to the restaurant because it is the management's way of determining what employees are getting meals for free instead of just getting their employee discount. The data in the paymentType row that says 'free' indicates that it was an employee who used them working at the restaurant to get free food, even though that's against company policy. With this query we expected to obtain the number of employees (based on employeeID) who are not paying for their food.